*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------drop down nav bar open-----------------------*/
body{
    background:  #eef8ff;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.logo{
    padding: 8px;
    display: block;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
}

.menu-bar{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 150px;
    margin: 9px;
    padding: 9px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
} 
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
}
/*-----------------DropDown Nav Bar Close-----------------------*/





a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    border-radius: 300px;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 2px 0;
}
.btn{
    display: inline-block;
    background: #289b1e;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #f5760f;
}

.header{
    background: radial-gradient(rgb(204, 247, 202),#9aec97);
    border-radius: 0 0 0 0 ;
}
.header .row{
    margin-top:0;
    margin-left: 5px;
    margin-right: 5px;
}
.header .col-2{
    padding-left: 50px;
    padding-right: 50px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #289b1e;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);  
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #418807;
}
.col-4:hover{
    transform: translateY(-5px);
}

.Know-More{
    text-align: center;
}

.Navback{
    background-color: #000;
    width: 100%;
    height: 5px;
}

/*---------------------Advertisement John Deere----------------------*/

.offer{
    background: radial-gradient(rgb(213, 248, 205), #b2f0a9);
    margin-top: 80px;
    padding: 30px 0px;
    border-radius: 0 0 0 0;
}
.col-2 .offer-img{
    padding: 20px;

}
small{
    color: #555;
}
/*--------------------------------new footer---------------------------------*/
.newfooter{
    position: sticky;
    top: 100%;
}
footer{
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #233329, #21942f);
    color: #fff;
    padding: 10px 0 3px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.f-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.f-col{
    flex-basis: 25%;
    padding: 10px;
}
.f-col:nth-child(2), .f-col:nth-child(3){
    flex-basis: 15%;
}

.f-logo{
    width: 200px;
    margin-bottom: 30px;
}
footer p{
    color: #fff;
}
footer h4{
    color: #fff;
}
.f-col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom:  1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    line-height: normal;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100px;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .f-col{
        flex-basis: 100%;
        
    }
    .f-col:nth-child(2), .f-col:nth-child(3){
        flex-basis: 100%;
    }
}



/*-------------------------------------------Page 2 Insecticide-------------------------------------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #289b1e;
    padding: 5px;
}
select: focus{
 outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #289b1e;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #289b1e;
    color: #fff;
}


/*---------------Page-3----Single Product Details-Insecticide----------------*/
.single-product{
    margin-top: 80px;
    
}
.single-product .col-2 img{
    padding: 0;

}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #18aa05;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #289b1e;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small-img-col{
flex-basis: 24%;
cursor: pointer;
border-radius: 20px;
}

/*-------------------------------Cart Items---------------------------------*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #18aa05;
    font-weight: normal;
}
td{
    padding: 10px 5px;

}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #eb0c0c;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #289b1e;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}


/*------------------------------------Media query for menu---------------------------------------------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*-----------------------------------------Registration----------------------------------------*/
.userpng{
    margin-left: 400px;
}


.acount-page{
    padding: 50px 0;
    background: radial-gradient(rgb(213, 248, 205), #b2f0a9);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn: focus{
    outline: none;
}
#loginform{
    left: -300px;
}
#regform{
    left: 0;
}
form a{
    font-size: 12px;
}
#indicator{
    width: 100px;
    border: none;
    background: #18aa05;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/*------------------------------------Media query for less than 600 screem size---------------------------------------------*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    } 
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 22px;
    }
    .cart-info p{
        display: none;
    }



}